doctype html
html(lang="ru")
    head
        title
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" type="text/css" media="screen" href="styles/main.css")
    body
        .wrap
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текстекст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац
            p Это сраный пресраный текст
            p.gago Ещё один сраный текст
            p Другой абзац2
            p.jopa Четвёртый абзац и трул-лялала
            p.jopa Пятый абзац

            